<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f7f7f7;">
    <div style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 30px; border: 1px solid #ddd;">
        <div style="text-align: center; border-bottom: 1px solid #707070;">
            <img src="https://api.waslaa.de/images/logo.png" alt="Wasla Logo" style="width: 100px; margin-bottom: 20px;" />
        </div>

        <div style="text-align:center;">
            <img src="https://api.waslaa.de/images/Emails/bill.png" alt="Verified" style="width: 80px; margin: 20px 0;" />
        </div>

        <div class="bg-content" style="padding: 20px;">
            <table style="width:100%;">
                <tr>
                    <td>
                        <p style="margin-bottom: 5px; color: #333; ">Invoice To</p>
                        <strong>@user</strong>
                    </td>
                    <td style="text-align: right;">
                        <p style="margin-bottom: 5px; color: #333; ">Contact</p>
                        <strong>@contact</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 5px; color: #333; ">Address</p>
                        <strong>@Address</strong>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p style="margin-bottom: 5px; color: #333; ">Invoice No</p>
                        <strong>@InvoiceNo</strong>
                    </td>
                    <td style="text-align: right;">
                        <p style="margin-bottom: 5px; color: #333;">Date Issued</p>
                        <strong>@Date</strong>
                    </td>
                </tr>
            </table>
            <hr style="margin: 30px 0;" />
            <table style="width:100%; margin: 20px auto;border-collapse:collapse;text-align: left;">
                <tr style="border-bottom:1px solid #ccc">
                    <th style="padding: 5px;">No.</th>
                    <th style="padding: 5px;">Product Item Description</th>
                    <th style="padding: 5px;">Price</th>
                </tr>
                @for (var i = 0; i < services.Count; i++)
                {
                var service = services[i];
                <tr style="border-bottom:1px solid #ccc">
                    <td style="padding:10px 0;">@i</td>
                    <td style="padding:10px 0;">@service.package_name - @service.service_name</td>
                    <td style="padding:10px 0;">@service.package_sale_price</td>
                </tr>
                }

                <tr>
                    <th colspan="2"></th>
                    <th style="border-bottom: 1px solid #ccc; padding: 10px 0;">Sub Total</th>
                    <td style="padding: 10px 0; border-bottom: 1px solid #ccc;">@SubTtotal</td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th style="border-bottom: 1px solid #ccc; padding: 10px 0;">Discount</th>
                    <td style="padding: 10px 0; border-bottom: 1px solid #ccc;">@Discount</td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th>Total</th>
                    <td style="padding:10px 0;">@Total</td>
                </tr>
            </table>
        </div>
        <div>
            <hr style="margin: 30px 0;" />
            <h3 style="color: #00b894;">
                Terms & Conditions :
            </h3>
            <p style="color: #4b0082; font-weight: bold; letter-spacing: .5px; font-size: 12px;">
                This amount includes up to two (2) revisions to the final design.
                If the client does not respond within 5 days, the project will be temporarily put on hold.
                Design rights will be transferred to the client upon full payment.
            </p>
        </div>
        <hr style="margin: 30px 0;" />
        <div style="text-align: center;">
            <p>Join us and be one of Waslaa family!</p>
            <div>
                <a href="https://www.facebook.com/Waslaa.de" target="_blank" style="text-decoration:none">
                    <img src="https://api.waslaa.de/images/icons-facebook.png" alt="Facebook" style="margin: 0 5px;" />
                </a>
                <a href="https://www.instagram.com/waslaa.de" target="_blank" style="text-decoration:none">
                    <img src="https://api.waslaa.de/images/icons-instagram.png" alt="Instagram" style="margin: 0 5px;" />
                </a>
                <a href="waslaa.2025@gmail.com" target="_blank" style="text-decoration:none">
                    <img src="https://api.waslaa.de/images/icons-gmail.png" alt="Email" style="margin: 0 5px;" />
                </a>
                <a href="https://x.com/waslaade" target="_blank" style="text-decoration:none">
                    <img src="https://api.waslaa.de/images/icons-twitter.png" alt="x" style="margin: 0 5px;" />
                </a>
            </div>
        </div>
    </div>

</body>


</html>